<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:property name="base_length" value="1.2"/>
    <xacro:property name="base_width" value="0.8"/>
    <xacro:property name="base_height" value="0.4"/>
    <xacro:property name="wheel_radius" value="0.2"/>
    <xacro:property name="wheel_length" value="0.1"/>



  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
      <origin xyz="0 0 ${base_height/2.0}" rpy="0 0 0"/>
      <material name="cherry_light_red"/>
    </visual>

    <xacro:box_inertia m="10" x="${base_length}" y="${base_width}" z="${base_height}" o_xyz="0 0 ${base_height/2.0}" o_rpy="0 0 0"/>
    <!-- mass is in KG, so put realistic values though its Simulation. Here its 10Kg -->
  </link>



  <!-- Creating macros for 2 wheels, but before creating a macro think once it makes sense or not to make a macro for it ! Dont Overoptimize and dont create unnecessary complexity ! -->
  <xacro:macro name="wheel_link" params="prefix">
    <link name="${prefix}_wheel_link">
      <visual>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <material name="bright_white"/>
      </visual>
      <xacro:cylinder_inertia m="2.0" r="${wheel_radius}" l="${wheel_length}" o_xyz="0 0 0" o_rpy="${pi/2} 0 0"/>
    </link>
  </xacro:macro>    

  <xacro:wheel_link prefix="right"/>
  <xacro:wheel_link prefix="left"/>


  <link name="caster_wheel_link">
    <visual>
      <geometry>
        <sphere radius="${wheel_radius/2.0}"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="bright_white"/>
    </visual>
    <xacro:sphere_inertia m="1.0" r="${wheel_radius/2.0}" o_xyz="0 0 0" o_rpy="0 0 0"/>
  </link>


  <link name="base_footprint_link">
    <!--No visual, or inertia-->
  </link>

 <!-- We chose to keep visual at 000, joint is centered at the visual. So we added 0.025 to the y-coordinate of cylinder. Why 0.025 ? half of cylinder height. Note that if we put origin = "0 0.025 0" in visual, it would look same, but the structure is a lot different ! And how did we find position of joint ? By halving box lengths, simple but effective. Remianing was the sync the joint with the visual. We did this by ensuring the joint origin matched the visual origin. We DID NOT Edited visual origin this time !-->

<joint name="base_joint" type="fixed">
  <parent link="base_footprint_link"/>
  <child link="base_link"/>
  <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/> <!-- 0.1 because thats wheel offset from ground, the wheel radius ! We want this joint/TF at the ground ! the base_footprint is the projection of the base on the ground and robot is correctly placed herein ! As base link offset by 0.1, every children of it got by same and nothing actually changes for the parts of the robot.-->
</joint>


  <joint name="base_right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel_link"/>
    <origin xyz="-${base_length/4.0} -${base_width/2.0 + wheel_length/2.0} 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="base_left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel_link"/>
    <origin xyz="-${base_length/4.0} ${base_width/2.0 + wheel_length/2.0} 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
 
<joint name="base_caster_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel_link"/>
    <origin xyz="${base_length/3.0} 0 -${wheel_radius/2.0}" rpy="0 0 0"/>
  </joint>

</robot>