<?xml version="1.0"?>
<robot name="Red_Cherry_Bot" xmlns:xacro="http://www.ros.org/wiki/xacro">



<xacro:include filename="common_properties.xacro"/>

<xacro:include filename="mobile_base.xacro"/>


<!-- Method to use custom meshes designed in CAD Softwares: Create a meshes folder in the pkg, install the folder in CMakeLists.txt and then reference them in the URDF file. Use the mesh include filename syntax. Including the custom mesh in the URDF here is not difficult, but designing it is the actual hard part. We also need to Scale Down/Up frequently in urdf as original STL file of CAD is bigger/smaller.-->

</robot>